#tm-nav {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 40px;
  width: 100%;
}

.navbar-brand {
  font-size: 2.4rem;
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Modificar el tipo de letra */
}

.navbar-nav {
  display: flex;
  width: 100%; /* Extiende los elementos de la navegación al 100% del contenedor */
  justify-content: flex-end; /* Ajusta la alineación a la derecha */
}

.navbar-nav .nav-item {
  margin-left: 90px;
  position: relative;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.5rem; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Tipo de letra */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1.5px solid #ffffff;
  width: 1.5%; 
  margin-left: -20px;
  font-weight: normal; 
}

.circle {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  top: 30px;
  width: 17.5px;
  height: 17.5px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}

.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #99FF66; 
  border-bottom: 1.5px solid #99FF66;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid rgba(255,255,255,1);
}

.navbar-toggler:focus {
  box-shadow: none;
}


.navbar-nav .nav-item .nav-link {
  font-weight: normal !important; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Tipo de letra */
  font-size: 1.5rem; 
}